/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
}

.hero h1 {
  font-size: 50px;
  color: gold;
}

.hero p {
  font-size: 18px;
  margin: 10px;
}

.hero button {
  margin-top: 20px;
  width: 200px;
  align-self: center;
}

/* ABOUT */
.about {
  padding: 80px 20px;
  background: #111;
}

.about h2 {
  color: gold;
}

/* APP SECTION */
.app {
  padding: 60px 20px;
}